
.bios-desktop, .bios-mobile {
	@include pre(1);
	@include span(10);
	@include breakpoint($small) {
		@include pre(0);
		@include full;
	}
	
}

.bios-desktop {
	display: none;
	@include breakpoint($small) {
		display: inline-block;
	}
	position: relative;
	margin-top: 40px;
	&:before {
	    content:"";
	    position: absolute;
	    z-index: -1;
	    height: 100%;
	    top: 0;
	    bottom: 0;
	    left: 50%;
	    margin-top: 10px;
	    border-left: 1px solid white;
	}
	p {
		font-size: 14pt;
		line-height: 20pt;
	}
}

.bio-circle-container {
	@include full;
	margin-top: 10px;
	&.desktop {
		display: none;
	}
	&.mobile {
		display: block;
	}
	@include breakpoint($small) {
		&.desktop {
			display: block;
		}
		&.mobile {
			display: none;
		}
	}
}
.bio-circle {
	margin: auto;
	height: 78px;
	width: 78px;
	text-align: center;
	border: 1px solid white;
	border-radius: 50%;
	position: relative;
	@include text-flex;
	font-size: 18pt;
	font-family: $headline-font;
	background-color: #1a1a1a;
}

.bios-mobile {
	display: block;
	@include breakpoint($small) {
		display: none;
	}
	padding: 30px 0;
	p, .date {
		@include full;
		padding-bottom: 20px;
	}
	.date {
		padding-top: 40px;
	}
}

.bio-names {
	@include full;
	h1 {
		text-align: center;
		color: $purple;
	}
	@include breakpoint($small) {
		h1 {
			margin-top: 0;
		}
	}
}

.meet-steve {
	margin-top: 100px;
	@include span(4 of 9);
	@include break;
}

.meet-alexis {
	@include span(last 4 at 5 of 9);
}

.bio-entry {

	@include breakpoint($small) {
		@include full;
	}
	&:last-of-type {
		padding-bottom: 200px;
	}
	display: inline-block;
}

.scrollme {
	min-height: 1px;
}

.scrollme.steve {
	@include span(5);
}


.date {
	@include span(2);
	.date-circle {
		margin: auto;
		text-align: center;
		height: 80px;
		width: 80px;
		background-color: $darkgray;
		border: 1px solid white;
		border-radius: 50%;
		position: relative;
		div {
			@include absolute-pos;
			@include text-flex;
			font-size: 18pt;
			font-family: $headline-font;
		}
	}
}

.scrollme.alexis {
	@include span(last 5);
}




