.main {
	@include container();
	float: right;
	position: fixed;
}

.cbp-spmenu-push {
	top: 0;
	
	margin: 0 auto;
	@include breakpoint($medium) {
		float: none;
		left: 110px;
		margin-right: 110px;
	}

}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {

	transition: all 0.5s ease;
}

.cbp-spmenu {
	background: $darkgray;
	position: fixed;
	max-height: 100%;
	top: 0;
	z-index: 10005;
	width: 200px;
	@include breakpoint ($medium) {
		width: 280px;
	}
	&:hover {
		li {
			&.desktop {
				&:after {
					height: 1px;
				    display: block;
				    width: 180px;
				    margin-left: 10px;
				    background: #808080;
				    content: '';
				    @include breakpoint($medium) {
				    	width: 240px;
				    	margin-left: 20px;

				    }
				}	
			}
			&.divider {
				&:after {
					margin-left: 10px;
					@include breakpoint ($medium) {
						margin-left: 20px;
					}
				}
			}
		}
	}
}

.cbp-spmenu-left {
	left: -260px;
	float: left;
	@include breakpoint($medium) {
		left: 110px;
		float: none;
	}
}

.cbp-spmenu-left {
	left: -193px;
	&.expanded {
		left: 0;
	}
	@include breakpoint($medium) {
		left: -170px;
		&:hover {
			left: 0;
		}

	}
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}


.cbp-spmenu-push {
	// overflow-x: hidden;
	// position: relative;
	left: 0;
	right: 0;
	@include breakpoint($medium) {
		left: 110px;
	}
}

.cbp-spmenu-push-toright {
	left: 190px;
}

.cbp-spmenu-push-toleft {
	left: -260px;
}



#showLeftPush {
	display: block;
	@include breakpoint($medium) {
		display: none;
	}
}




ul.nav {
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	margin-top: 0;
	top: 0;
	// position: fixed;
	-webkit-margin-before: 0;
	-webkit-padding-start: 0;
	-webkit-margin-after: 0;
}

li.menu-item {
	flex: 1 1 auto;
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
	&:after {
		height: 1px;
	    display: block;
	    width: 92px;
	    margin-left: auto;
	    margin-right: 8px;
	    background: #808080;
	    content: '';
	}	
	

	&.divider {
		&:after {
			height: 1px;
		    display: block;
		    width: 180px;
		    margin-left: 10px;
		    background: #808080;
		    content: '';
		    @include breakpoint($medium) {
		    	width: 240px;
		    	margin-left: 20px;
		    }
		}
	}
	&.active {
		box-sizing: border-box;
		&:after {
			margin-right: 0;

		}
		border-right: 8px solid $purple;


	}
	&:hover {
		.desktop {
			&:after {
				height: 1px;
			    display: block;
			    width: 240px;
			    margin-left: 20px;
			    background: #808080;
			    content: '';
			}
		}

	}
	a {
		height: 100px;
		width: 100%;
		position: absolute;
		text-decoration: none;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		.separator {
			position: relative;
			height: 100%;
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			.descriptor {
				padding-left: 20px;
				width: 140px;
				text-align: left;
				display: inline-block;
				font-size: 13pt;
				@include breakpoint ($medium) {
					padding-left: 20px;
					font-size: 17pt;
				}
			}
			.icon {
				padding-right: 20px;
				padding-left: 20px;
				width: 120px;
				display: inline-block;
			}
		}


	}

	&.active.entry {
		border-right: 8px solid $darkgray;
	}
	&:hover {

		svg path { 
			fill: $purple;
			stroke: $purple;
			stroke-width: 0;				
		}		
	}
}

.menu-icon {
	svg {
		path {
			stroke: rgba($lightgray,.7);
			stroke-width: 1.5px;
		}
	}
	&:hover {

	}
}
.logo-icon {
	svg {
		path {
			@include transition(.35s);
			fill: $lightgray;
			stroke: $lightgray;
		}
	}
}



.svg-main {
	position: relative;
	margin: 0 auto;
	height: 120px;
	width: 120px;
	margin-bottom: 20px;
	path {
		fill: $purple;
		stroke: $purple;
	}
}

.main {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	@include breakpoint($medium) {
		display: none;
	}
}

#left {
	height: 100%;
	position: fixed;
	width: 10%;
	display: block;
	opacity: 0;
	@include breakpoint($medium) {
		display: none;
	}
}


.triangle {
	display: block;
	@include breakpoint($medium) {
		display: none;
	}
	transition: all 0.7s ease;
	position: fixed;
	z-index: 10;
	top: -10px;
	left: 10px;
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent; 
	border-right:25px solid #6800eb; 
	transform: rotate(45deg);
	z-index: 1;
	span {
		transition: all 0.7s ease;
		z-index: 10;
		position:absolute;
		display: inline-block;
		transform: rotate(-45deg);
		background-color: $purple;
		&:first-child {
			width: 20px;
			height: 2px;
			top: -7px;
			left: 4px;
			background-color: black;
		}

		&:nth-child(2n) {
			width: 14px;
			height: 2px;
			top: -2px;
			left: 8px;
			background-color: black;
		}

		&:nth-child(3n) {
			width: 10px;
			height: 2px;
			top: 2px;
			left: 12px;
			background-color: black;
		}
	}
	&.button-expanded {
		border-right:25px solid $darkgray; 
		span {
			transition: all 0.7s ease;
			transform: rotate(90deg);
			background-color: $purple;
			&:first-child {
				width: 10px;
				height: 2px;
				top: -1px;
				left: 4px;
			}

			&:nth-child(2n) {
				width: 14px;
				height: 2px;
				top: -1px;
				left: 7px;
			}

			&:nth-child(3n) {
				width: 20px;
				height: 2px;
				top: -1px;
				left: 9px;
			}
		}
	}
}





.button-expanded {
	transition: all 0.5s ease;
	left: 203px !important;
}


.icon-bar {
	width: 22px;
	height: 2px;
	background-color: $purple;
	border-radius: 1px;
	display: block;
	margin-top: 4px;
	&:first-of-type {
		margin-top: 0;
	}
}

.indicators {

	display: block;
	width: 40px;
	span {
		margin: 12px auto;
		border-radius: 50%;
		animation: loadingFade 1s infinite;
		background-color: $purple;
		opacity: 0;
	}
	.one {
		animation-delay:0.0s;
		display: block;
		width: 16px;
		height: 16px;
	}
	.two {
		animation-delay:.1s;
		display: block;
		height: 12px;
		width: 12px;
	}
	.three {
		animation-delay:.2s;
		display: block;
		height: 8px;
		width: 8px;
		margin-bottom: 12px;
	}
}

@-webkit-keyframes pulse {
	0% {
		background-color: rgba($purple,0);
	}
	100% {
		background-color: rgba($purple,.5);
	}
}
@keyframes loadingFade {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

#home-sweet-home {
	display: none;
	@include breakpoint($medium) {
		display: block;
	}
}


