<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta name="google-site-verification" content="NzaJrWkktwyhY-UxUEUJBX0y_u5FUu66B1_kmqOVTPU" />

  <title>
    {{ _site_name }}
    {{ if segment_1 }}
    – {{ title|lower|slugify }}
    {{ endif }}
  </title>



<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<script type="text/javascript" charset="utf-8" src="animation_edgePreload.js"></script> 
  <script src="{{ theme:js src="snap.svg-min" }}"></script>

  <link rel="icon" href="{{ theme:img src="favicon.ico" }}" />
<style>
html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: black;
}
@media (min-width: 768px) {
  body, html {
  background: url(_themes/main/img/background_1600x1600.png) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
}</style>
<style>
.edgeLoad-EDGE-6766476 { visibility:hidden; }
</style>
{{ theme:css src="main.min" tag="true" }}
</head>

    <body class="cbp-spmenu-push" data-spy="scroll" data-target=".cbp-spmenu">

<div id="pagewrap" class="pagewrap">{{ theme:partial src="nav" }}
  
  {{ layout_content }}
<div class="container show">
    <a class="pageload-link" href="#page-2">Show Page Loader</a>
    
      <div id="loader" class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
          <path d="M30,30 50,30 50,30 30,30 Z"/>
        </svg>
      </div><!-- /pageload-overlay --></div>
</div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ theme:js src="main.min" }}"></script>
<script>
  // $(window).load(function() {
  //   alert("ready");
  // })
</script>
</body>
</html>
