<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <title>
    {{ _site_name }}
    {{ if segment_1 }}
    – {{ title|lower|slugify }}
    {{ endif }}
  </title>

{{ theme:css src="main.min" tag="true" }}

<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<script type="text/javascript" charset="utf-8" src="animation_edgePreload.js"></script> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ theme:js src="main.min" }}"></script>
  <link rel="icon" href="{{ theme:img src="favicon.ico" }}" />
  
<style>

.edgeLoad-EDGE-6766476 { visibility:hidden; }
</style>

</head>

    <body class="cbp-spmenu-push" data-spy="scroll" data-target=".cbp-spmenu">

    {{ theme:partial src="nav" }}

    {{ layout_content }}



</body>
</html>
