<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{ _site_name }}
    {{ if segment_1 }}
    – {{ title }}
    {{ endif }}
  </title>

  <script type="text/javascript" src="//use.typekit.net/yhi2epm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   <!-- <script src="http://192.168.0.1:35729/livereload.js?snipver=1"></script> -->
   <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/styles/monokai.min.css">
  {{ theme:css src="main" tag="true" }}

  <link rel="icon" type="image/png" href="{{ theme:img src="favicon.png" }}" />

  <style>
  svg {
    height: 80px;
    width: 80px;
  }
svg:hover path {
    fill: red;
}
  </style>
</head>



    <body class="cbp-spmenu-push">
    <nav class="cbp-spmenu cbp-spmenu-left" id="cbp-spmenu-s1">
    <div class="nav-div"><a href="#"><span>test</span></a></div>
    <div class="nav-div"><a href="#"><span>test</span></a></div>
    <div class="nav-div"><a href="#"><span>test</span></a></div>
    <div class="nav-div"><a href="#"><span>test</span></a></div>
    <div class="nav-div"><a href="#"><span>test</span></a></div>
    <div class="nav-div"><a href="#"><span>test</span></a></div>
    </nav>

    
          <div class="main">
            <button id="showLeftPush">Show/Hide Left Push Menu</button>
          </div>

      
      {{ nav from="/" }}<a href="{{ url }}"{{ if is_current || is_parent }} class="on"{{ endif }}>{{ title }}</a>{{ /nav }}
    
    
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.0/highlight.min.js"></script>
  <script src="{{ theme:js src="main.min" }}"></script>
  <script src="{{ theme:js src="scripts.js" }}"></script>
  <script src="{{ theme:js src="jquery.lazyload.js" }}"></script>
  <script src="{{ theme:js src="classie.js" }}"></script>
    <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->

    <script>
      $(document).ready(function(){
        if ($(".cbp-spmenu").css("float") == "none" ) {
          $(".cbp-spmenu").addClass("cbp-spmenu-open");
        }
      });
      $(window).resize(function(){  
        if ($(".cbp-spmenu").css("float") == "left" ){
          $(".cbp-spmenu").removeClass("cbp-spmenu-open");
        }
      });
    </script>

    <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        menuTop = document.getElementById( 'cbp-spmenu-s3' ),
        menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
        showLeft = document.getElementById( 'showLeft' ),
        showRight = document.getElementById( 'showRight' ),
        showTop = document.getElementById( 'showTop' ),
        showBottom = document.getElementById( 'showBottom' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        showRightPush = document.getElementById( 'showRightPush' ),
        body = document.body;

      showLeft.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeft' );
      };
      showRight.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRight' );
      };
      showTop.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuTop, 'cbp-spmenu-open' );
        disableOther( 'showTop' );
      };
      showBottom.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( menuBottom, 'cbp-spmenu-open' );
        disableOther( 'showBottom' );
      };
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
        disableOther( 'showLeftPush' );
      };
      showRightPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toleft' );
        classie.toggle( menuRight, 'cbp-spmenu-open' );
        disableOther( 'showRightPush' );
      };

      function disableOther( button ) {
        if( button !== 'showLeft' ) {
          classie.toggle( showLeft, 'disabled' );
        }
        if( button !== 'showRight' ) {
          classie.toggle( showRight, 'disabled' );
        }
        if( button !== 'showTop' ) {
          classie.toggle( showTop, 'disabled' );
        }
        if( button !== 'showBottom' ) {
          classie.toggle( showBottom, 'disabled' );
        }
        if( button !== 'showLeftPush' ) {
          classie.toggle( showLeftPush, 'disabled' );
        }
        if( button !== 'showRightPush' ) {
          classie.toggle( showRightPush, 'disabled' );
        }
      }
    </script>

    <script>
/*
     * Replace all SVG images with inline SVG
     */
        jQuery('img.svg').each(function(){
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            jQuery.get(imgURL, function(data) {
                // Get the SVG tag, ignore the rest
                var $svg = jQuery(data).find('svg');

                // Add replaced image's ID to the new SVG
                if(typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                // Add replaced image's classes to the new SVG
                if(typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass+' replaced-svg');
                }

                // Remove any invalid XML tags as per http://validator.w3.org
                $svg = $svg.removeAttr('xmlns:a');

                // Replace image with new SVG
                $img.replaceWith($svg);

            }, 'xml');

        });

    </script>


  <script>
  $(function() {
    $("img.lazy").lazyload();
});
  </script>

      <script type="text/javascript">
        var disqus_shortname = 'slickcarousel';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

</body>
</html>