<div class="row">
	<div class="eight columns">
		<div class="article">
			<h1>Journal Categories</h1>
			
			<p>
				We have amassed knowledge in the following areas:
			</p>
			
			{{ taxonomy:listing folder="blog" type="categories" }}
				{{ if first }}
					<ul>
				{{ endif }}
						
				<li><a href="{{ url }}">{{ name }}</a></li>
						
				{{ if last }}
					</ul>
				{{ endif }}
			{{ /taxonomy:listing }}
		</div>
	</div>
	<div class="four columns sidebar" role="complementary">
		{{ theme:partial src="sub-navigation" }}		
		{{ theme:partial src="common-sidebar" }}
	</div>
</div>