<div class="row">
	<div class="eight columns">
		<div class="article">
			{{ theme:partial src="breadcrumbs" }}
			<h1>{{ title|smartypants|widont }}</h1>

			{{ content|widont }}


			<div class="gallery">
				{{ gallery limit="2" }}
					{{ if first }}<div class="row">{{ endif }}
						<div class="half column">
							<img src="{{ transform src="{photo}" width="400" height="400" action="smart" }}" alt="{{ caption }}">
						</div>
					{{ if last }}</div>{{ endif }}
				{{ /gallery }}
				
				{{ gallery limit="3" offset="2" }}
					{{ if first }}<div class="row">{{ endif }}
						<div class="one-third column">
							<img src="{{ transform src="{photo}" width="400" height="400" action="smart" }}" alt="{{ caption }}">
						</div>
					{{ if last }}</div>{{ endif }}
				{{ /gallery }}
				
				{{ gallery limit="4" offset="5" }}
					{{ if first }}<div class="row">{{ endif }}
						<div class="one-fourth column">
							<img src="{{ transform src="{photo}" width="400" height="400" action="smart" }}" alt="{{ caption }}">
						</div>
					{{ if last }}</div>{{ endif }}
				{{ /gallery }}
			</div>
		</div>
	</div>
	<div class="four columns sidebar" role="complementary">
		{{ theme:partial src="common-sidebar" }}
	</div>
</div>