<section id="bios">

  {{ entries:listing folder="bios" sort_by="numeric" sort_dir="desc" }}

  <div class="sub-section" id="{{ title }}">
    <div class="wrapper content center">
      <span class="sprite active bios"></span>


      {{ if mainTitle|not_empty }}
      <h1>{{ mainTitle }}</h1>
      {{ endif }}

      {{ if subTitle|not_empty }}
      <h3>{{ subTitle }}</h3>
      {{ endif }}

      {{ content }}

    </div>

  </div>

  {{ /entries:listing }}


  <div class="bios-desktop">

    {{ entries:listing folder="bios/entries" sort_by="numeric" }}
    
    <img src="{{ featureImage }}" alt="">

    <div class="bio-names scrollme">
      <div class="meet-steve animateme" data-when="enter" data-from=".8" data-to="0" data-opacity="0" style="opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);"><h1>MEET STEVE</h1>
      </div>
    </div>
    <div class="bio-names scrollme">
      <div class="meet-alexis animateme" data-when="enter" data-from=".8" data-to="0" data-opacity="0" style="opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1);"><h1>AND ALEXIS</h1>
      </div>
    </div>

    {{ biosEntry }}

    <div class="bio-entry" style="padding-top: {{ padding }}px">

      <div class="scrollme steve">
        {{ if steveContent|not_empty }}
        <div class="date-container bio-container-steve active" >
          <div class="effect_box_opacity animateme"data-when="view" data-from="0.35" data-to="0.0" data-translatex="200" data-translatey="50" data-opacity="0" data-scale="0" style="opacity: 1; -webkit-transform: translate3d(0, 0, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
            {{ steveContent }}
          </div>
        </div>
        {{ endif }}
      </div>
      
      <div class="date"><div class="date-circle"><div>{{ bioDate }}</div></div></div>
      
      <div class="scrollme alexis">
        {{ if alexisContent|not_empty }}
        <div class="date-container bio-container-steve active" >
          <div class="effect_box_opacity animateme"data-when="view" data-from="0.35" data-to="0.0" data-translatex="-200" data-translatey="50" data-opacity="0" data-scale="0" style="opacity: 1; -webkit-transform: translate3d(0, 0, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
            {{ alexisContent }}
          </div>
        </div>
        {{ endif }}
      </div>

    </div>

    {{ /biosEntry }}

    {{ /entries:listing }}

  </div>



  <div class="bios-mobile">

    {{ entries:listing folder="bios/entries" sort_by="numeric" }}

    <img src="{{ featureImage }}" alt="">
    <div class="bio-names">
      <h1>Meet Steve &amp; Alexis</h1>
    </div>

    {{ biosEntry }}

    <div class="bio-entry">
      <div class="date"><div class="date-circle"><div>{{ bioDate }}</div></div></div>
      {{ steveContent }}
      {{ alexisContent }}
    </div>
    {{ /biosEntry }}

    {{ /entries:listing }}

  </div>

</section>

