<section id="bios">

  <div class="flex">
    {{ entries:listing folder="bios" sort_by="numeric" sort_dir="desc" }}

    <div class="sub-section" id="{{ title }}">

      <div class="flex-wrapper">
        <div class="wrapper content center">
          <span class="sprite active bios"></span>


          {{ if mainTitle|not_empty }}
          <h1>{{ mainTitle }}</h1>
          {{ endif }}

          {{ if subTitle|not_empty }}
          <h3>{{ subTitle }}</h3>
          {{ endif }}

          {{ content }}

        </div>
      </div>

    </div>

    {{ /entries:listing }}
  </div>

  {{ entries:listing folder="bios/entries" sort_by="numeric" sort_dir="desc" }}

  <div class="entries wrapper bio-entry">

    {{ if bio =="Steve" }}
    <div class="steve scrollme">
      <div class="date-container bio-container-steve active" >
        <div class="date  effect_box_opacity animateme"data-when="view" data-from="0.25" data-to="0.05" data-translatex="400" data-translatey="50" data-opacity="0" data-scale="0" style="opacity: 1; -webkit-transform: translate3d(400px, 400px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
        <h3>{{ title }}</h3>
        <h3>{{ jobTitle }}</h3>
        <h3>{{ location }}</h3>
        <p>{{ content }}</p>
        </div>
        <div class="image">
          <img src="{{ image }}" alt="">
        </div>
      </div>
    </div>
    {{ endif }}

  </div>
  {{ /entries:listing }}
</section>

  <div style="width: 500px; height:300px;" class="gif-container">
    <img class="gif1" src="{{ gif1 }}" alt="">
    <img src="{{ gif2 }}" alt="" class="gif2">
  </div>