<section id="bios">

    {{ entries:listing folder="bios" sort_by="numeric" sort_dir="desc" }}

    <div class="sub-section" id="{{ title }}">
        <div class="wrapper content center">
          <span class="sprite active bios"></span>


          {{ if mainTitle|not_empty }}
          <h1>{{ mainTitle }}</h1>
          {{ endif }}

          {{ if subTitle|not_empty }}
          <h3>{{ subTitle }}</h3>
          {{ endif }}

          {{ content }}

        </div>

    </div>

    {{ /entries:listing }}


  {{ entries:listing folder="bios/entries" sort_by="numeric" sort_dir="desc" }}

  <div class="entries wrapper bio-entry">

    {{ if bio =="Steve" }}
    <div class="steve scrollme">
      <div class="date-container bio-container-steve active" >
        <div class="image">
          <img src="{{ image }}" alt="">
        </div>
        <div class="steve-description  effect_box_opacity animateme"data-when="view" data-from="0.25" data-to="0.05" data-translatex="400" data-translatey="50" data-opacity="0" data-scale="0" style="opacity: 1; -webkit-transform: translate3d(0, 0, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
        <h3>{{ title }}</h3>
        <h3>{{ jobTitle }}</h3>
        <h3>{{ location }}</h3>
        <p>{{ content }}</p>
        </div>

      </div>
    </div>
    {{ endif }}
  </div>

  <div class="entries wrapper bio-entry">
    {{ if bio =="Alexis" }}
    <div class="alexis scrollme">
      <div class="date-container bio-container-steve active" >
        <div class="image">
          <img src="{{ image }}" alt="">
        </div>
        <div class="alexis-description  effect_box_opacity animateme"data-when="view" data-from="0.25" data-to="0.05" data-translatex="-400" data-translatey="50" data-opacity="0" data-scale="0" style="opacity: 1; -webkit-transform: translate3d(0, 0, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);">
        <h3>{{ title }}</h3>
        <h3>{{ jobTitle }}</h3>
        <h3>{{ location }}</h3>
        <p>{{ content }}</p>
        </div>

      </div>
    </div>
    {{ endif }}
  </div>

  </div>
  {{ /entries:listing }}
</section>