<section id="companies" name="companies">

{{ entries:listing folder="companies" sort_dir="asc" }}


  <div class="sub-section" id="{{ title }}">

      <div class="wrapper content center">
      <span class="sprite active companies"></span>


        {{ if mainTitle|not_empty }}
         <h1>{{ mainTitle }}</h1>
        {{ endif }}

        {{ if subTitle|not_empty }}
        <h3>{{ subTitle }}</h3>
        {{ endif }}

        {{ content }}

      </div>

  </div>

  {{ /entries:listing }}


<div class="grid-gallery">

        {{ entries:listing folder="companies/entries" sort_dir="asc" }}


          <ul class="grid">

              <li class="inner-image">
                <div class="inner-image" style="background-image: url( {{ photo }} );">
                <h2>{{ title }}</h2>
                <h3>{{ subTitle }}</h3>

                  {{ content }}
                </div>
              </div>
              </li>

          </ul>

          {{ /entries:listing }}
</div>

</section>
