<section id="companies" name="companies">

  {{ entries:listing folder="companies" sort_dir="asc" }}

  <div class="sub-section" id="{{ title }}">

    <div class="wrapper content center">
      <span class="sprite active companies"></span>


      {{ if mainTitle|not_empty }}
      <h1>{{ mainTitle }}</h1>
      {{ endif }}

      {{ if subTitle|not_empty }}
      <h3>{{ subTitle }}</h3>
      {{ endif }}

      {{ content }}

    </div>
  </div>

  {{ /entries:listing }}


  <div class="work-example desktop">
    {{ entries:listing folder="companies/desktop_entries" sort_dir="asc" }}
    <div class="company-container">
      <div class="preview-text">
        <h2>{{ title }}</h2>
        <h3>{{ subTitle }}</h3>
  
        <div class="text">{{ content }}</div>
      </div>
      <div class="company company-gradient"></div>
      <div class="company company-image" style="background-image: url( {{ photo }} );"></div>
    </div>
    {{ /entries:listing }}
  </div>

  <div class="work-example mobile">
    {{ entries:listing folder="companies/desktop_entries" sort_dir="asc" }}
    <div class="company-container">
      <div class="preview-text">
        <h2>{{ title }}</h2>
        <h3>{{ subTitle }}</h3>
  
        <div class="text">{{ content }}</div>
      </div>
      <div class="company company-gradient"></div>
      <div class="company company-image" style="background-image: url( {{ photo }} );"></div>
    </div>
    {{ /entries:listing }}
  </div>

</section>
