<section id="connect">

{{ entries:listing folder="connect" sort_by="numeric" sort_dir="desc" }}
  
  <div class="sub-section" id="{{ title }}">
  

      <div class="wrapper content center">
      <span class="sprite active connect"></span>
  
       
        {{ if mainTitle|not_empty }}
         <h1>{{ mainTitle }}</h1>
        {{ endif }}
  
        {{ if subTitle|not_empty }}
        <h3>{{ subTitle }}</h3>
        {{ endif }}
  
        <ul class="connect">

            <li>
              <a href="mailto:hello@wearevs.com ">
                <div class="connect-sprite email"></div>
                <p>Drop us a line.</p>
              </a>
            </li>
            <li>
              <a href="http://instagram.com/wearevs">
                <div class="connect-sprite instagram"></div>
                <p>See what we're getting into.</p>
              </a>
            </li>
            <li>
              <a href="http://soundcloud.com/wearevs">
                <div class="connect-sprite soundcloud"></div>
                <p>Hear what makes us bounce.</p>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="connect-sprite flipboard"></div>
                <p>Get inspired by the stuff that drives us.</p>
              </a>
            </li>

        </ul>
      </div>

  
  </div>
  
  {{ /entries:listing }}

</section>
