<section id="connect">

{{ entries:listing folder="connect" sort_by="numeric" sort_dir="desc" }}
  
  <div class="sub-section" id="{{ title }}">
  

      <div class="wrapper content center">
      <span class="sprite active connect"></span>
  
       
        {{ if mainTitle|not_empty }}
         <h1>{{ mainTitle }}</h1>
        {{ endif }}
  
        {{ if subTitle|not_empty }}
        <h3>{{ subTitle }}</h3>
        {{ endif }}
  
        <ul class="connect">
        {{ if sources|not_empty}}
        {{ sources }}
            <li>
              <a href="{{ url }}"><img src="{{ image }}" alt="{{ location }}">{{ location }}</a>
            </li>
          {{ /sources }}
        {{ endif }}
        </ul>
      </div>

  
  </div>
  
  {{ /entries:listing }}

</section>