
<nav class="cbp-spmenu cbp-spmenu-left" id="cbp-spmenu-s1">

<div class="triangle">
<span></span>
<span></span>
<span></span>
</div>
  <ul class="nav">

    <li class="menu-item">
      <a class="menu-icon scroll" href="#philosophy">
        <div class="separator">
          <span class="descriptor">philosophy</span>
          <span class="sprite nav philosophy"></span>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-icon scroll" href="#case-studies">
        <div class="separator">
          <span class="descriptor">case<br>studies</span>
          <span class="sprite nav case-studies"></span>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-icon scroll" href="#companies">
        <div class="separator">
          <span class="descriptor">companies</span>
          <span class="sprite nav companies"></span>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-icon scroll" href="#bios">
        <div class="separator">
          <span class="descriptor">steve<br>&amp; alexis</span>
          <span class="sprite nav bios"></span>
        </div>
      </a>
    </li>
    <li class="menu-item">
      <a class="menu-icon scroll" href="#connect">
        <div class="separator">
          <span class="descriptor">connect</span>
          <span class="sprite nav connect"></span>
        </div>
      </a>
    </li>
    <li class="menu-item entry" id="home-sweet-home">
      <a class="menu-icon scroll" href="#entry">
        <div class="separator">
          <span class="descriptor">home<br>sweet<br>home</span>
          <span class="sprite nav home"></span>
        </div>
       </a>
    </li>

  </ul>
</nav>
