@include border-box-sizing;

$susy: (
	columns: 12,
	column-width: 5em,
	gutter-width: 1/4,
	gutter-position: inside-static,
);

$xsmall: 480px;
$small: 768px;
$medium: 1000px;
$large: 1200px;

$small-screen-width: 30em;

// @include establish-baseline();

html, body, #{headings()}, a, span, p {
	color: $white;
	font-family: $headline-font;
	// text-rendering: geometricPrecision;
}

html, body {
  height: 100%;
  margin: 0;
	background-color: black;
  @include breakpoint(small) {
	  background: url('{{ theme:img src="background_1600x1600.png" }}') center center no-repeat;
	  background-size: cover;
  	background-attachment: fixed;
  	background-size: cover;
  }
}

html, body, p {
	font-family: $base-font-family;
	letter-spacing: .03rem;
}

img {
	max-width: 100%;
	height: auto;
}
h1 {
	font-size: 36pt;
	color: $purple;
	letter-spacing: -2px;
	@include breakpoint(small) {
		font-size: 50pt;
	}
}

h2 {
	font-size: 24pt;
	@include breakpoint($small) {
		font-size: 42pt;
	}
}

h3 {
	font-size: 18pt;
	@include breakpoint($small) {
		font-size: 24pt;
	}
}


p {
	font-size: 16pt;
	@include trailer;
	font-family: $base-font-family;
	letter-spacing: .03rem;
	@include breakpoint($small) {
		font-size: 21pt;
	}
	&:first-of-type {
		@include leader;
	}
	&:last-of-type {
		@include padding-trailer;
	}
}