#bios {
	width: 100%;
}

.bios-desktop {
	display: none;
	@include breakpoint(small) {
		display: block;
	}
}
.bios-mobile {
	display: block;
	@include breakpoint(small) {
		display: none;
	}
}
.left {
	// border-right: 1px solid white;
	color: white;
	text-align: right;
	@include span (first 6);
}
.right {
	// border-left: 1px solid white;
	color: white;
	@include span (last 6);
	p {
		margin: 0;
	}
}

.scrollme {
	@include span(full);
}

#bios .entries.wrapper {
	display: flex;
	flex: 1 1 auto;
	min-height: 100vh;
	position: relative;
	.left, .right {
		flex-flow: column nowrap;
		display: flex;
		justify-content: center;
		&.sticky-name {
			justify-content: flex-start;
			padding-top: 100px;
		}
		// min-height: 100vh;
	}
	.image {
		z-index: 1000;
		@include span(4);
		@include push(4);
	}
	img {
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}

}


.date-container {
	// position: relative;
	// @include pre(4);
	// @include span (4 of 12);
	
}

.bio-container {
	position: relative;
}

.steve-description, .image, {
	position: absolute;
	width: 100%;
}

.steve-description {
	@include span(first 4);
}

.alexis-description {
	@include span(last 4);
}
.bio-container-steve, .bio-container-alexis {
	// height: 200px;
	p {
		margin: 0;
	}
	opacity: 0;
	@include transition(.15s);
	&.inview, &.active {
		opacity: 1.0;
	}
}



