

.meet-steve {
	margin-top: 100px;
	@include span(4 of 9);
	@include break;
}

.meet-alexis {
	@include span(4 of 9);
	@include pre(5 of 9);
	@include break;
}

.bio-entry {
	@include break;
	&:last-of-type {
		padding-bottom: 200px;
	}
	display: inline-block;
}

.bios-desktop {
	position: relative;
	margin-top: 40px;
	display: inline-block;
	&:after {
	    content:"";
	    position: absolute;
	    z-index: -1;
	    height: 100%;
	    top: 0;
	    bottom: 0;
	    left: 50.5%;
	    margin-top: 10px;
	    border-left: 1px solid white;
	}
}

.scrollme.steve {
	@include span(5 of 13);
}

.bio-names {
	h1 {
		margin-top: 0;
		text-align: center;
		color: white;
	}
	@include break;
}

.date-container {
	width: 100%;
}

.date {
	width: 100%;
	height: 0;
	padding-top: span(1 of 13);
	@include pre(1);
	@include span(1 of 13);
	background-color: $darkgray;
	border: 1px solid white;
	border-radius: 50%;
	position: relative;
	div {
		@include absolute-pos;
		@include text-flex;
		font-size: 22pt;
		font-family: $headline-font;
	}
}

.scrollme.alexis {
	@include span(last 5 of 13);
}