

#header {
	padding: 50px 0;
	z-index: 10001;
	// margin-top: 20px;
	// margin-bottom: 20px;
}
.case-study-image, .company-image {
	max-width: 100%;
	margin-bottom: -5px;
}

.grid {
	@include pre(1);
	@include span(10);
	display: block;
	clear: left;
	clear: right;
	position: relative;
	.title {
		z-index: 100;
		@include vertical-align;
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		text-align: center;
	}
	li {
		@include transition(.35s);
		border: 8px solid transparent;
		&:hover {
			border: 8px solid $purple;
		}

		margin-bottom: 40px;
		a {
			vertical-align: middle;
			img {
				filter: grayscale(1);
			}
			&:hover img {
				filter: grayscale(0);
			}
		}
	}
}

.hidden {
	height: 0;
	opacity: 0;
}

.current {
	p {
		color: white;
		z-index: 1000;
		position: relative;
	}
}

.grid-gallery {
	@include span(full);
	position: relative;
	h2,h3 {
		text-transform: uppercase;
	}
	h2,h3,p {
		text-shadow: 1px .5px 0.5px rgba(0,0,0,.8);
	}
	h2 {
		@include responsiveTypeSize(xlarge);
		font-family: $subHeadline-font;
	}
	h3 {
		font-family: $base-font-family;
			@include responsiveTypeSize(medium);
	}
}

#header-companies {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10001;
}
#header-companies-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10001;
}

#header-companies-wrapper {
	#imagelightbox-caption, #imagelightbox-header {
		width: 80%;
		margin: 0 auto;
		display: block;
		text-align: center;
		h2, p  {
			padding-right: 0;
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
		}
		h2 {
			@include responsiveTypeSize(large);
			font-family: $subHeadline-font;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}
	#imagelightbox-header {
		padding-top: 100px;
		height: auto;

	}
}

.company-container {
	&.active .case-study-image {
		height: 575px;
	}
}

.case-study-wrapper {
	height: 400px;
	@include transition(.5s);
	.preview {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.preview {
		position: relative;
		@include transition(.5s);
		height: 400px;
		opacity: 1;
		&.fade-out {
			margin: 200px 0;
			height: 0;
			opacity: 0;
		}
	}
	.case-study-text {
		@include transition(.5s);
		opacity: 0;
		// height: 0;
		// z-index: -999;

	}
	.single-item {
		opacity: 1;
		&.fade-in {

		}
	}
	.case-study-image {
		@include transition(.5s);
		height: 400px;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	&.active {
		height: auto;
		.case-study-text {
			opacity: 1;
		}
		.case-study-image {
			height: 575px;
		}
	}
}

.case-study-close {
	display: none;
	text-align: right;
	&.visible {
		display: block;
	}
}


.uber-wrapper {
	margin-bottom: 60px;
}



