// #connect {
// 	padding-bottom: 100px;
// }

.connect {
	li {
		margin-bottom: 20px;
	}
	a {
		text-decoration: none;
		.connect-sprite {
			display: block;
			height: 75px;
			width: 75px;
			margin: 0 auto;
			background: url("../img/connect-sprites.png") center center no-repeat;
			background-size: 150px auto;
			&.email {
				background-position: 0px 0px;
			}
			&.instagram {
				background-position: 0 -75px;
			}
			&.soundcloud {
				background-position: 0 -150px;
			}
			&.flipboard {
				background-position: 0 -225px;
			}
		}
		&:hover {
			.connect-sprite {
				&.email {
					background-position: -75px 0px;
				}
				&.instagram {
					background-position: -75px -75px;
				}
				&.soundcloud {
					background-position: -75px -150px;
				}
				&.flipboard {
					background-position: -75px -225px;
				}
			}
		}
	}
}