// #connect {
// 	padding-bottom: 100px;
// }

.connect {
	li {
		margin-bottom: 20px;
	}
	a {
		text-decoration: none;
		.connect-sprite {
			display: block;
			height: 70px;
			width: 70px;
			margin: 0 auto;
			background: url("../img/connect-sprites-large.png") center center no-repeat;
			background-size: 140px auto;
			&.email {
				background-position: 0px 0px;
			}
			&.instagram {
				background-position: 0 -70px;
			}
			&.soundcloud {
				background-position: 0 -140px;
			}
			&.flipboard {
				background-position: 0 -210px;
			}
		}
		&:hover {
			.connect-sprite {
				&.email {
					background-position: -70px 0px;
				}
				&.instagram {
					background-position: -70px -70px;
				}
				&.soundcloud {
					background-position: -70px -140px;
				}
				&.flipboard {
					background-position: -70px -210px;
				}
			}
		}
	}
}