
#Stage_cta {
	letter-spacing: -1px;
	cursor: pointer;
}

#Stage {
	letter-spacing: -1px;
}

.entry {
	
	flex-flow: column nowrap;
	align-content: space-around;
	
	.flow-wrapper {
		flex: 1 1 auto;
	}
	&.desktop {
		display: none;
		height: 100vh;
	}
	&.mobile {
		display: flex;
		height: 100%;
		justify-content: center;
		align-content: center;
		align-items: center;
		h1 {
			color: $purple;
			text-align: center;
		}
		span {
			color: white;
		}
	}
	@include breakpoint($small) {
		&.desktop {
			display: flex;
		}
		&.mobile {
			display: none;
		}
	}
	.wrapper {
		align-self: center;
		a {
			display: inline-block;
		}
	}
	.indicators {
		text-align: center;
		margin: 0 auto;
		opacity: 0;
		display: block !important;
		&.active {
			opacity: 1;
		}
	}
}

// #animation {
// 	margin: 0 auto;
// 	text-align: center;
// 	height: 600px;
// 	min-width: 600px;
// }


.gif-container {
	margin: 0 auto 50px;
	width: 200px;
	height: 115px;
	@include breakpoint($small) {
		width: 280px;
		height: 160px;	
	}

	position: relative;
}

.gif1 {
	position: absolute;
	bottom: 0;
	left: 0;
	max-width:100%;
	max-height: 100%;
}

.gif2 {
	position: absolute;
	top: 0;
	right: 0;
	max-width:100%;
	max-height: 100%;
}