
// Breakpoints -----------------------------



// Content ---------------------------------

.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  display: table;

}
.row:after {
  clear: both;
}

.flex  {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	&.row {
		flex-flow: row wrap;
	}
}

// section {
// 	padding-top: 50%;
// }

.divider {
	height: 50%;
}

section {
	@include container();
}

section, .flex {
	position: relative;
}

.sub-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0 auto;
	max-width: 400px;
@include breakpoint($small) {
	max-width: 700px;
}
@include breakpoint($medium) {
	max-width: 900px;
}
@include breakpoint($large) {
	max-width: 1070px;
}
}

.flex-wrapper {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	flex: 1 1 auto;
}
.wrapper {
	position: relative;
	display: block;
  // min-height: 100vh;
  // @include vertical-align;
  // * {
  //   @include vertical-align;
  // }

	&.content {
    // min-height: 100vh;
		// justify-content: center;
		&.left {
			text-align: left;
		}
		&.center {
			#{headings()} {
				text-align: center;
			}
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}
		&.right {
			text-align: right;
		}
	}
  .content-pack {
    // @include vertical-align
  }
}

#connect {
	h1 {
		margin-bottom: 40px;
	}
}
.connect {

	img {
		display: block;
		margin: 0 auto 6px;
	}
	li {
		margin-bottom: 20px;
	}
}


.sticky-wrapper {
	@include breakpoint($xsmall) {
		max-width: 400px;
	}
	@include breakpoint($small) {
		max-width: 700px;
	}
	@include breakpoint($medium) {
		max-width: 900px;
	}
	@include breakpoint($large) {
		max-width: 1070px;
	}
	// display: flex;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.sticky-container {
	width: 100%;
	margin: 0 auto;
}

.sticky-wrapper {
	margin-bottom: 200px;
}
