<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta name="google-site-verification" content="NzaJrWkktwyhY-UxUEUJBX0y_u5FUu66B1_kmqOVTPU" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="google-site-verification" content="lalduPrFx8NTRvYEPM18VICLUT6x0H66NdPUe9cqOQQ" />
  <meta name="description" content="Vs. is a creative studio based in San Francisco. Brands must live in two worlds: technical and tangible. We design for both.">
  <title>
    {{ _site_name }}
    {{ if segment_1 }}
    – {{ title|lower|slugify }}
    {{ endif }}
  </title>

<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="icon" href="{{ theme:img src="favicon.ico" }}" />
<style>
html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: black;
}
@media (min-width: 768px) {
  body, html {
  background: url(_themes/main/img/background_1600x1600.png) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
}</style>

  <link rel="stylesheet" href="{{ theme:css src="main-7bff41fa11.min.css" }}" />
</head>

  <body class="cbp-spmenu-push" data-spy="scroll" data-target=".cbp-spmenu">

  {{ theme:partial src="nav" }}
  
  {{ layout_content }}


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ theme:js src="main.min.js" }}"></script>

</body>
</html>
