

@font-face {
font-family: hurme-bold;
src: url(../../main/fonts/Hurme_Design-HurmeGeometricSans4_SemiBold.otf);
}

@font-face {
font-family: hurme-thin;
src: url(../../main/fonts/Hurme_Design-HurmeGeometricSans4_Thin.otf);
}

@font-face {
font-family: neusa-semi-bold;
src: url(../../main/fonts/The_Northern_Block-Neusa-SemiBold.otf);
}
